/* Focus Highlighting */

QTreeView:focus {
    border: 5px solid #007BFF; /* Blue border for focused widgets */
    border-radius: 2px;
}

QWidget:focus {
    border: 2px solid #007BFF; /* Blue border for focused widgets */
    border-radius: 2px;
}
